body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: aliceblue;
    font-size: 36px;
}
.header{
    height: 300px;
    width: 100%;
    background-color: cornflowerblue;
}
.bottom{
    height: 450px;
    width: 100%;
    background-color: cornflowerblue;
}
.central{
    width: 100%;
    height: 200px;
    justify-content: space-between;
    margin: 50px 0;
}
.secondBlock{
    background-color: #11288c;
    height: 200px;
    width: 30%;

}