@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    margin: 0;
}

.image{
    width: 100%;
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: center;
}
.image>div{
    width: 70vw;
}
nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav>div>a>p{
    color: #99A2AA;
    font-family: Rubik sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 375% */text-decoration: none;
}
nav>div{
    display: inline-flex;
    height: 6vh;
    align-items: flex-start;
    gap: 3vw;
    width: 70vw;
}
nav>div>a{
    text-decoration: none;

}
.tabpanel{
    margin-top: 2vh;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FEC524;
}
.tabpanel>div{
    width: 70vw;
}
.tabpanel>div>h2{
    color: #FFF;
    font-family: Rubik sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}
.tabpanel>div>p{
    color: #0E2F4B;
    font-family: Open Sans sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 2vh;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative;
    background: #F8F8F8;
    width: 100%;
}
.services>div{
    display: flex;
    width: 70vw;
}
label{
    display: block;

}
#number{
    width: 37vw;
    height: 8vh;
    color: #757575;
    font-family: Rubik sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    border-radius: 10px;
    border:0 solid white;
    padding-left: 30px;
}
.text>h2{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.text>p{
    color: #0E2F4B;
    font-family: Open Sans sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.text, .left, .right{
    width: 30vw;
    height: 50vh;

}
.text{
    margin-top: 100px;
}
.text>h2,p{
    margin: 0;
}
.start, .finish{
    margin-top: 2vh;
}
.left, .right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;
}
.left>div>h2{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin: 0;
}
.left>div>a{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    text-decoration: none;

}
.right>div>h2{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin: 0;
}
.right>div>a {
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    text-decoration: none;
}
.margin{
    margin-top: 1vh;
}
.input{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 80vw;
    position: absolute;
    top: -170px;
    border-radius: 10px;
    background: none;

}
.links{
    display: flex;
    height: 8vh;
    width: 80vw;
    background: none;
    gap: 3vw;
    margin-top: 3vh;


}
.links>a{
    height: 9vh;
    width: 18vw;
    border-radius: 10px;
    border:0 solid white;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23.94px;
    text-decoration: none;
    color: #99A2AA;
    text-align: center;
    font-family: Rubik sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}
.export{
    height: 45vh;
    width: 100%;
    background: #042C4B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.export>div{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.export>div>h2{
    color: #F8F8F8;
    font-family: Rubik sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    margin: 0;
}
.export>div>p{
     color: #99A2AA;
     font-family: Open Sans sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px; /* 187.5% */
     margin: 0;
}
.export>div>a{
     display: flex;
     width: 12vw;
     height: 8vh;
     border-radius: 10px;
     background: #FDC13D;
     justify-content: center;
     align-items: center;
     color: #0E2F4B;
     text-align: center;
     font-family: Rubik sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: 80px; /* 400% */
     text-decoration: none;
 }
.second_service{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_service>div{
    display: flex;
    width: 70vw;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: #FDC13D;
    margin: 0 15px 0 15px;
    width: 75vw;
    height: 20vh;
    
}
.header>h4{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin-left: 75px;
    margin-bottom: 0;
}
.header>p{
    color: #0E2F4B;
    font-family: Open Sans sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    margin-left: 75px;
}
.header>a{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    text-decoration: none;
    margin-left: 75px;
}
.second_service>div>h2{
    margin-top: 100px;
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.second_links{
    display: flex;
    gap: 30px;
}
.second_links>div{
    height: 30vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.second_links>div>h2{
    margin: 0;
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.second_links>div>a{
    margin-top: 1vh;
    text-decoration: none;
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
.index{
    width: 100%;
    background: #0E2F4B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index>div{
    width: 70vw;
    height: 45vh ;
    display: flex;
    flex-direction: column;
}
.index>div>h2{
    color: #F8F8F8;
    font-family: Rubik sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */

}
.index>div>p{
    color: #99A2AA;
    font-family: Open Sans sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */

}
#index{
    margin-top: 110px;
    padding: 0 30px;
    height: 6vh;
    width: 25vw;
    border-radius: 10px;
    border: 1px solid #E8EBEE;
    background: #FFF;
}
#button{
    height: 6.5vh;
    width: 15vw;
    border-radius: 10px;
    background: #FDC13D;

}
.news{
    width: 100%;
    height: 130vh;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news>div{
    display: flex;
    justify-content: center;
    width: 70vw;
}
.news>div>h2{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.column{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.flexAnother{
    display: flex;
    justify-content: space-between;
}
.flex>img{
    width: 100px;
    height: 100px;
}
.column>h5{
    color: #99A2AA;
    font-family: Open Sans sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin: 0;
}
.column>h3{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    margin: 0;
}
.last_div>p{
    color: #0E2F4B;
    font-family: Open Sans sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    margin-top: 20px;
}
.last_div{
    border-radius: 10px;
    background: #FFF;
    height: 25vh;
    width: 33vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
}
.column>a{
    text-decoration: none;
    color: #99A2AA;
    font-family: Rubik sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    border-radius: 10px;
    background: #FFF;
    display: flex;
    padding-left: 40px;
    align-items: center;
    height: 10vh;
    width: 35vh;
    gap: 30px;
    margin-top: 40px;
}
.travel>div{
    display: flex;
    width: 70vw;
    justify-content: center;
    flex-direction: column;
}
.travel{
    width: 100%;
    background: #FEC524;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.travel>div>h2{
    color: #FFF;
    font-family: Rubik sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.travel>div>h5{
    color: #0E2F4B;
    font-family: Rubik sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 176.471% */
}
.travel>div>p{
    color: #0E2F4B;
    font-family: Open Sans sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.bots{
    display: flex;
    justify-content: space-between;
    width: 10vw;
}
.last{
    width: 100%;
    height: 70vh;
    background: #1D2023;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last>div{
    margin-bottom: 10vh;
    width: 70vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 120px;
    border-bottom: 1px solid #99A2AA;
}
.last>div>div>h2{
    color: #FFF;
    font-family: Rubik sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}
.last>div>div>a{
    color: #99A2AA;
    font-family: Rubik sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-decoration: none;
}
.columnlast{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}